<h1><%= @meeting.requester.name %> Requested a Meeting With You</h1>

<p>Start time: <%= show_meeting_datetime @meeting.start_time %></p>
<p>End time: <%= show_meeting_datetime @meeting.end_time %></p>
<p>For: <%= @meeting.ticket.title %></p>

<p>Login to TicketyBoo to accept or decline this meeting.</p>