<li>
  <div class="comment-intro">
    <div class="name-time-wrapper">
      <p class="name"><%= comment.commenter.name %></p>
      <p><%= detailed_creation_time(comment) %></p>
    </div>
    <ul class="comment-links">
      <%= link_to('Delete', ticket_comment_path(comment.commented_ticket_id, comment.id), method: :delete, data: {confirm: "Are you sure?"}) if can? :destroy, comment %>
    </ul>
  </div>
  <div class="comment-content">
    <p><%= comment.body %></p>
  </div>
</li>