<section class="here__picture">
  hero picture
</section>

<section class="here__content">
  hero content
</section>

<section class="features">
  features
</section>

<section class="team">
  team
</section>

<footer>
  footer
</footer>