<main class="pages--home">
  <section class="hero__picture">
    hero picture
  </section>
  
  <section class="hero__content">
    hero content
  </section>
  
  <section class="features">
    features
  </section>
  
  <section class="team">
    team
  </section>
</main>