<main class="ticket">
  <div class="photo-panel">
    <%= image_tag("ticket-cta.png") %>
  </div>
  <div class="cta-content">
    <h3>Looks like your don't have any ticket...</h3>
    <%= link_to 'Create one', new_ticket_path, class: 'btn btn-blue' %>
  </div>
</main>