<div class="user-preview">
  <div class="avatar-circle">
    <%= user_avatar(user) %>
  </div>
  <div class="user-info">
    <p class="user-name"><%= user.name %></p>
    <p><%= date_creation_time(resource) %></p>
  </div>
</div>