$color-black: #000;
$color-white: #fff;
$color-brown: #4F3F2C;

$color-light-blue: #B8CDD2;
$color-light-yellow: #F0DC8C;
$color-light_pink: #DD8E89;

$color-blue: #3B94A1;
$color-red: #E75D4C;
$color-dark-blue: #1C404C;