//COLOR VARIABLES
$color-black: #0D0C22;
$color-dark-grey: #5B5A6A;
$color-light-grey: #E6E6E6;
$color-white: #fff;
$color-light-green: #F2F5E5;

$color-blue: #A9C5FB;
$color-yellow: #F5DF49;
$color-pink: #EF7B97;
$color-green: #7FD5C1;

//FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Lobster', cursive;

//GLOBAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-black;
  font-weight: 400;
  line-height: 1.45;
}