//COLOR VARIABLES
$color-black: #0D0C22;
$color-dark-grey: #5B5A6A;
$color-light-grey: #E6E6E6;
$color-white: #fff;

$color-blue: #A9C5FB;
$color-yellow: #F5DF49;
$color-pink: #EF7B97;
$color-green: #7FD5C1;

//FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;
$font-display: 'Pacifico', cursive;

.ticket,
.ticket-index,
.ticket-show,
.ticket-public {
  max-width: 90vw;
  margin: 6rem auto;
  font-size: 2rem;
}

.ticket {
  width: 80ch;
  label {
    color: $color-dark-grey;
  }
}

.ticket-index {
  & > section {
    margin-bottom: 4rem;
  }
}

.ticket-card-list {
  width: 1366px;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 2rem;
}

.ticket-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media only screen and (max-width: 910px) {
    flex-direction: column;
  }
}

.ticket-public > section {
  margin-bottom: 4rem;
}

input.ticket-post-title {
  font-size: 4rem;
  height: 8rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 2rem;

  &::placeholder {
    font-size: 4rem;
  }
}

textarea {
  outline: none;
  resize: none;
  width: 100%;
  overflow: auto;
  font-family: inherit;

  &::placeholder {
    font-size: 2rem;
  }

  &.ticket-post-body {
    font-size: 2rem;
    border: none;
    height: calc(80vh - 35rem);
  }

  &.comment-input {
    border: 1px solid $color-dark-grey;
    border-radius: 4px;
    height: 10rem;
  }
}

.topic-remove,
.topic-add {
  font-size: 2rem;

  @media only screen and (min-width: 500px) {
    display: inline-block;
  }
}

.topic-form {
  margin-bottom: 2rem;
}

input.topic-field {
  background-color: transparent;
  width: 60%;
  border: none;
  padding: 0;
  font-size: 2rem;
  margin-bottom: 0;
}

.ticket-card {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-preview {
  display: flex;
  flex-direction: row;
}

.avatar-circle {
  margin-right: 1rem;
}

.user-name {
  font-weight: bold;
}

.status {
  padding: .5rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-dark-grey;
  align-self: flex-start;
  margin-top: 2rem;
}

.status-yellow {
  background-color: $color-yellow;
}

.status-green {
  background-color: $color-green;
}

.ticket-card__content,
.ticket-card__link {
  margin-top: 2rem;
}

.ticket-card__link a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  i {
    font-size: 2rem;
    margin-left: 1rem;
  }
}

.ticket-show__content {
  width: 80ch;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;

  @media only screen and (max-width: 910px) {
    padding-right: 0;
  }

  & > * {
    margin-top: 3rem;
  }
}

.ticket-show__public {
  padding-right: 0;
  margin-bottom: 2rem;
}

.ticket-show__topics {
  display: flex;
  flex-flow: row wrap;
  & > li {
    margin-right: .75rem;
  }
}

.ticket-show__comments {
  font-size: 1.8rem;
  background-color: $color-light-grey;
  padding: 2rem;
  padding-top: 0;
  border-radius: 4px;

  & > div {
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid $color-dark-grey;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  div:last-child {
    border-bottom: none;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.comment-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .name {
    font-weight: bold;
  }
}

.comment-links {
  input[type='submit'] {
    background: transparent;
    margin: 0;
    color: $color-dark-grey;
  }
}

.ticket-show__links {
  .back-edit-links {
    margin-right: .5rem;
    margin-bottom: 1rem;
    & > * {
      margin-right: .75rem;
    }
  }
}

.ticket-show__actions {
  width: 45ch;
  max-width: 90vw;
  padding-left: 5rem;
  border-left: 1px solid $color-dark-grey;

  @media only screen and (max-width: 910px) {
    padding-left: 0;
    border: none;
  }
}

.ticket-list {
  & > div {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 4rem;
  }

  &__time {
    margin-top: 1rem;
  }
}

.ticket-list__preview {
  h4 {
    margin-bottom: 1rem;
  }

  h4 a {
      color: darken($color-pink, 15%);
      font-size: 2.5rem;
      transition: color 300ms;

      &:hover {
        color: #d11946;
      }
    }
}

.ticket-index__resolved {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > li {
    padding-right: 1rem;
  }
}

.comment-form {
  margin-top: 3rem;
}