//COLOR VARIABLES
$color-black: #0D0C22;
$color-dark-grey: #5B5A6A;
$color-light-grey: #E6E6E6;
$color-white: #fff;

$color-blue: #A9C5FB;
$color-yellow: #F5DF49;
$color-pink: #EF7B97;
$color-green: #7FD5C1;

//FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;
$font-display: 'Pacifico', cursive;

.meeting {
  margin: 8rem auto;

  .form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.meeting-accepted {
  color: darken($color-green, 20%);
}

.meeting-declined {
  color: darken($color-pink, 20%);
}

.meeting-sent {
  color: darken($color-yellow, 20%);
}

.meeting-info {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.ticket-link {
  color: darken($color-pink, 20%);
  text-decoration: underline;
  transition: color 300ms;

  &:hover {
    color: darken($color-pink, 40%);
  }
}

.timeline-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

.timeline-container::before {
  content: '';
  width: .5rem;
  height: 100%;
  background-color: $color-yellow;
  position: absolute;
  left: 2rem;
}

.time-box {
  background: $color-white;
  padding: 2rem;
  margin: 3rem 6rem;
  border: 2px solid $color-yellow;
  border-radius: 50px;
}

.time-box::after {
  content: '';
  width: 3rem;
  height: 3rem;
  background: $color-yellow;
  border-radius: 50%;
  position: absolute;
  left: .7rem;
}

.main-card {
  max-width: 90vw;
  min-height: 45rem;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  margin-bottom: 2rem;
}

.meeting-side-panel {
  background-image: url("new-meeting.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;

  @media only screen and (max-width: 820px) {
    display: none;
  }
}

.simple-calendar {
  margin: 8rem auto;
  width: 90vw;
  font-size: 1.8rem;
}

.calendar-title {
  font-weight: bold;
}