//COLOR VARIABLES
$color-black: #0D0C22;
$color-dark-grey: #5B5A6A;
$color-light-grey: #E6E6E6;
$color-white: #fff;

$color-blue: #A9C5FB;
$color-yellow: #F5DF49;
$color-pink: #EF7B97;
$color-green: #7FD5C1;

//FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;
$font-display: 'Pacifico', cursive;

.task {
  max-width: 90vw;
  margin: 6rem auto;
  font-size: 2rem;
}

.new_task {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 737px) {
    flex-direction: column;
    align-items: flex-start;
    & > * {
      margin-bottom: 1rem;
    }
  }

  & > * {
    height: 4rem;
  }

  margin-bottom: 3rem;
}

.edit_task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  label {
    font-weight: normal;
    flex-grow: 2;
  }

  .completed {
    text-decoration: line-through;
  }
}

.task-description__input {
  min-width: 45ch;
  margin-right: 1rem;
}

input.task-description__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $color-dark-grey;
  border-radius: 0;
  padding: 0;
  font-size: 2rem;
  color: $color-black;
}

#task_assignee_id {
  all: unset;
  font-size: 1.8rem;
  color: $color-dark-grey;
  margin-right: 1rem;
}

.task-card {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  border-bottom: 1px solid $color-light-grey;
}

.task-description__actions {
  & > * {
    margin: unset;
    padding: unset;
    background: unset;
    font-size: 2.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.fa-refresh {
  color: darken($color-green, 15%);
  transition: color 300ms;

  &:hover {
    color: darken($color-green, 30%)
  }
}

.fa-ban {
  color: darken($color-pink, 15%);
  transition: color 300ms;

  &:hover {
    color: darken($color-pink, 30%)
  }
}

.task-list {
  margin-bottom: 4rem;
}

.task-cta {
  width: 720px;
  max-width: 90vw;
  text-align: center;
}